body {
    background-image: url(../images/ava7patterns_pattern_1627.png);
    _background-repeat: repeat-x;
        _background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%);
    margin: 0;
    padding: 0; 
    
}
#main {
    width: 800px;
    height: 991px;
    margin: 29px auto;
    _outline: 1px solid gold;
    background-image: url(../images/bg_s.jpg);
    _background-repeat: no-repeat;
    background-color: antiquewhite;
   
}

#main h1 {
    text-align: center;
    _outline:1px solid red;
    padding-top: 174px;
    font: 36px Verdana;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: 134px 180px;
}
#wrapper {
    _outline: 1px solid red;
    background: url(../images/tel.jpg) no-repeat fixed 0 120px;
}